# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
.venv/
env/
ENV/

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Logs / cache
*.log
.cache/
.duckdb
*.duckdb
